.menu {


}

.menu-item {
	display: block;

	a {
		font-weight: 600;
		text-decoration: none;

		display: block;

		transition: $transition;

		&:hover,
		&:focus {

		}

	}
}

.menu-links {
	text-align: left;
	background-color: $prim;

	display: none;
	padding: 0;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}


.menu-toggle {
	display: inline-block;
}



@media screen and (max-width: 575px) {

	.menu-item {
		font-size: 1.2em;

		a {
			color: #fff;
			padding: 10px 20px;

			&:hover,
			&:focus {
				text-decoration: none;
				background-color: darken($prim, 5%);
			}

		}
	}

}


@media screen and (min-width: 576px) {

	.menu-item {
		display: inline-block;
		margin-right: 10px;

		a {

		}
	}

	.menu-links {
		text-align: right;
		background-color: transparent;

		display: block;
		padding: 0;
		margin: 0;
	}

}