.rates {
	position: relative;
	border-bottom: 2px solid rgba($black, .05);
	height: 54px;

	&::before,
	&::after {
		content: "";
		display: block;
		position: absolute;
		z-index: 1;
		top: 0;
		height: 100%;
		width: 120px;
	}

	&::before {
		left: 0;
		background: linear-gradient(90deg, $bg, rgba($bg, .9), rgba($bg, 0));
	}

	&::after {
		right: 0;
		background: linear-gradient(90deg, rgba($bg, 0), rgba($bg, .9), $bg);
	}
}

.rates-track {
	display: flex;
	flex-wrap: nowrap;
	overflow: hidden;

	&::before {
		content: "";
		display: block;
		min-width: 100px;
		height: 54px;
		float: left;
	}

	&::after {
		content: "";
		display: block;
		min-width: 100px;
		height: 54px;
		float: left;
	}

}

.rates-item {
	white-space: nowrap;

	padding: 15px 10px;
	min-width: 120px;
	height: 54px;
}

.rates-cur,
.rates-val {
	display: inline-block;
}

.rates-cur {
	font-weight: bold;
	opacity: .5;
	margin-right: 5px;
}

.rates-btns {
}

.rates-btn {
	font-size: 0;
	line-height: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	background-size: auto 24px;
	border: none;
	opacity: .3;

	position: absolute;
	z-index:2;
	height: 50px;
	width: 64px;
	top: 50%;
	transform: translateY(-50%);

	transition: $transition;

	&:hover, &:focus {
		outline: none;
		opacity: 1;
	}
}

.rates-prev {
	background-image: url(../assets/icons/rates-prev.svg);
	left: 0px;
}

.rates-next {
	background-image: url(../assets/icons/rates-next.svg);
	right: 0px;
}

@media screen and (max-width: 575px) {

	.rates {

		&::before,
		&::after {
			width: 60px;
		}
	}

	.rates-track {

		&::before {
			min-width: 42px;
		}

		&::after {
			min-width: 42px;
		}

	}

	.rates-item {
		min-width: initial;
	}

	.rates-btn {
		width: 42px;
	}

}