<footer class="footer">
	<div class="cont">

		<div class="row">
			<div class="col-12 col-sm footer-col footer-col--logo">
				<div class="footer-logo"><img src="assets/img/logo-black.svg" alt=""></div>
			</div>
			<div class="col-12 col-sm footer-col footer-col--copy">
				<span class="copyright">www.cryptomarket.com © 2018</span>
			</div>
		</div>

		<div class="footer-small">
			<small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ipsum praesentium odio tempora quae quam hic fugiat, blanditiis maxime mollitia suscipit iure debitis. Corporis, veritatis, quidem sint dolor neque officiis.</small>
		</div>

	</div>
</footer>