<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="plugins/TweenMax.min.js"></script>
<script src="js/main.js?v=3.2"></script>

<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
<script>
 WebFont.load({
    google: {
      families: [
      'Roboto:300,400,400i,500,700,700i,900:cyrillic', 
      'Roboto Condensed:300,400,700:cyrillic', 
      'Roboto Mono:400,500,700'
      ]
    }
  });
</script>

<script type="text/javascript" src="plugins/datatables/datatables.min.js" defer></script>
<!-- <script type="text/javascript" src="plugins/datatables/dataTables.scroller.min.js" defer></script> -->