<header class="header">
	<div class="cont">
		<nav class="header-nav">
			<div class="row align-items-center">

				<div class="col col-sm-auto header-col header-col--logo">
					<a href="/" class="logo"><img src="assets/img/logo.svg" alt="Cryptomarket"></a>
				</div>

				<div class="col-auto header-col header-col--menu-btn">
					<div class="menu-toggle">
						<button class="menu-toggle__btn btn-hamburger js-menu-btn">
							Menu
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</button>	
					</div>
				</div>

				<div class="col-12 col-sm header-col heaer-col--menu">
					<div class="menu">
						<ul class="menu-links js-menu-links">
							<li class="menu-item"><a href="sample-page.html">About</a></li>
							<li class="menu-item"><a href="sample-page.html">Support</a></li>
							<li class="menu-item"><a href="sample-page.html">FAQ</a></li>
						</ul>
					</div>
				</div>

				<div class="col-12 col-sm-auto header-col header-col--login">
					<div class="header-login">
						<div class="header-user">
<!-- 							<div class="header-user-col header-user-col--notifications">
								<button class="icon-btn notifications-icon"><span class="icon-btn__data">3</span></button>
							</div> -->
							<div class="header-user-col header-user-col--menu">

								<div class="header-user-menu">
									<button class="header-user-menu-btn js-header-user-dropdown-btn">
										<span class="header-user-nickname">memegod</span>
										<div class="header-user-pic"><img src="img/profile-pic.png" alt=""></div>
									</button>
								</div>

								<div class="header-user-dropdown js-header-user-dropdown">
									<div class="header-user-dropdown-inner">
										<ul>
											<li><a href="profile-mine.html">My profile & deals</a></li>
											<li><a href="profile-edit.html">Profile settings</a></li>
											<li><a href="#">Log Out</a></li>
										</ul>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

			</div>
		</nav>
	</div>
</header>


