<header class="header">
	<div class="cont">
		<nav class="header-nav">
			<div class="row align-items-center">

				<div class="col col-sm-auto header-col header-col--logo">
					<a href="/" class="logo"><img src="assets/img/logo.svg" alt="Cryptomarket"></a>
				</div>

				<div class="col-auto header-col header-col--menu-btn">
					<div class="menu-toggle">
						<button class="menu-toggle__btn btn-hamburger js-menu-btn">
							Menu
							<span></span>
							<span></span>
							<span></span>
							<span></span>
						</button>	
					</div>
				</div>

				<div class="col-12 col-sm header-col heaer-col--menu">
					<div class="menu">
						<ul class="menu-links js-menu-links">
							<li class="menu-item"><a href="sample-page.html">About</a></li>
							<li class="menu-item"><a href="sample-page.html">Support</a></li>
							<li class="menu-item"><a href="sample-page.html">FAQ</a></li>
						</ul>
					</div>
				</div>

				<div class="col-12 col-sm-auto header-col header-col--login">
					<div class="header-login">
						<ul>
							<li><a href="login.html" class="btn btn-outline-primary header-login-btn header-login-btn--log-in" data-toggle="modal" data-target="#loginModal">Log In</a></li>
							<li><a href="register.html" class="btn btn-primary header-login-btn header-login-btn--register" data-toggle="modal" data-target="#registerModal">Register</a></li>
						</ul>
					</div>
				</div>

			</div>
		</nav>
	</div>
</header>


