<div class="login-form">
  
  <h2 class="login-form__title">Register</h2>

  <form class="login-form__form">

    <div class="input-group">
      <label class="input-label mb-3">
        <div class="input-title">Email</div>
        <input type="email" class="form-control" placeholder="Enter your email" aria-label="Email">
      </label>
      <label class="input-label mb-3">
        <div class="input-title">Password</div>
        <input type="password" class="form-control" placeholder="Enter your password" aria-label="Password">
      </label>
      <label class="input-label mb-3">
        <div class="input-title">Repeat password</div>
        <input type="password" class="form-control" placeholder="Repeat your password" aria-label="Password">
      </label>
    </div>

    <div class="login-form-submit mt-2">
      <input type="submit" class="btn btn-primary w-100" value="Register">
    </div>

  </form>

  <div class="text-center mt-4">
    Already a member? <a href="login.html" data-dismiss="modal" data-toggle="modal" data-target="#loginModal">Log In</a>
  </div>

  <div class="login-form__forgot text-center">
    <a href="reset-pass.html" data-dismiss="modal" data-toggle="modal" data-target="#forgotPassModal">I forgot my password</a>
  </div>

</div>