<div class="login-form">
  
  <h2 class="login-form__title">Reset password</h2>

  <form class="login-form__form">

    <div class="input-group">
      <label class="input-label mb-2">
        <div class="input-title">Email</div>
        <input type="email" class="form-control" placeholder="Enter your email" aria-label="Email">
      </label>
    </div>

    <div class="login-form-submit">
      <input type="submit" class="btn btn-primary w-100" value="Reset password">
    </div>

  </form>

  <div class="text-center mt-4">
    <a href="login.html" data-dismiss="modal" data-toggle="modal" data-target="#loginModal">Log In</a>
    <b> / </b>
    <a href="register.html" data-dismiss="modal" data-toggle="modal" data-target="#registerModal">Register</a>
  </div>

</div>