<div id="psst-1" class="psst psst--dismissed">
	<div class="cont">
		<div class="psst-inner">
	
			<button class="btn-close psst-close js-psst-close" data-psst-dismiss="psst-1" title="Dismiss">Dismiss</button>

			<div class="psst-dismissed-text">
				<p>Dismissed message </p>
				<button class="psst-show js-psst-show" data-psst-show="psst-1" title="Dismiss">Show</button>
			</div>

			<div class="psst-content js-psst-content">
				<h3 class="psst-title">Hey, psst!</h3>
				<p>I fear you forgot to finish the deal <a href="#">№123465</a>. If you have problems with this deal, please don't hesitate to <a href="#">contact support team</a>.</p>
			</div>

		</div>	
	</div>
</div>

<div id="psst-2" class="psst">
	<div class="cont">
		<div class="psst-inner">
	
			<button class="btn-close psst-close js-psst-close" data-psst-dismiss="psst-2" title="Dismiss">Dismiss</button>

			<div class="psst-dismissed-text">
				<p>Dismissed message </p>
				<button class="psst-show js-psst-show" data-psst-show="psst-2" title="Dismiss">Show</button>
			</div>

			<div class="psst-content js-psst-content">
				<h3 class="psst-title">Hey, psst!</h3>
				<p>I fear you forgot to finish the deal <a href="#">№123465</a>. If you have problems with this deal, please don't hesitate to <a href="#">contact support team</a>.</p>
			</div>

		</div>	
	</div>
</div>
