<section class="quick-ex">


<!-- 	<div class="dem-blobs">

		<div class="bg-blob bg-blob-1">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" id="loader">
				<defs>
					<filter id="goo">
						<feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
						<feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
						<feBlend in2="goo" in="SourceGraphic" result="mix" />
					</filter>
					<linearGradient id="MyGradient">
							<stop offset="5%"  stop-color="#367AFF"/>
							<stop offset="40%" stop-color="#36DBFF"/>
							<stop offset="100%" stop-color="#D736FF"/>
					</linearGradient>
				</defs>
				<mask id="maska">
					<g class="blobs">
						<circle class="blob" cx="440" cy="200" r="30" transform="rotate(0) translate(0, 0) rotate(0)"/>
						<circle class="blob" cx="500" cy="320" r="70"  transform="rotate(0) translate(0, 0) rotate(0)"/>
						<circle class="blob" cx="250" cy="390" r="50"  transform="rotate(0) translate(0, 0) rotate(0)"/>
						<circle class="blob" cx="380" cy="390" r="100"  transform="rotate(0) translate(0, 0) rotate(0)"/>
						<circle class="blob" cx="580" cy="410" r="60"  transform="rotate(0) translate(0, 0) rotate(0)"/>
						<circle class="blob" cx="100" cy="420" r="70"  transform="rotate(0) translate(0, 0) rotate(0)"/>
					</g>
				</mask>
				<rect x="0" y="0"  mask="url(#maska)" fill="url(#MyGradient)" width="900" height="600">
			</svg>	
		</div>	

		<div class="bg-blob bg-blob-2">
			<svg id="organic-blob" width="700" height="700" xmlns="http://www.w3.org/2000/svg" filter="url(#goo)" fill="#36DBFF">
			  <defs>
			    <filter id="goo">
			      <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
			      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
			      <feComposite in="SourceGraphic" in2="goo" operator="atop"/>
			    </filter>
			  </defs>
			 <g>
			  <circle r="140" cy="145" cx="150">
			    <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 145 150" to="360 145 150" dur="4s" repeatCount="indefinite"/>
			   </circle>
			  <circle r="140" cy="155" cx="150">
			    <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="360 155 150" to="0 155 150" dur="8s" repeatCount="indefinite"/>
			   </circle>
			  <circle r="140" cy="150" cx="145">
			    <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 150 145" to="360 150 145" dur="12s" repeatCount="indefinite"/>
			   </circle>
			  <circle r="140" cy="150" cx="155">
			    <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="360 150 155" to="0 150 155" dur="10s" repeatCount="indefinite"/>
			   </circle>
			 </g>
			</svg>
		</div>

		<div class="bg-blob bg-blob-3">
			<svg id="organic-blob" width="600" height="600" xmlns="http://www.w3.org/2000/svg" filter="url(#goo)" fill="#03A9F4">
			  <defs>
			    <filter id="goo">
			      <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
			      <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
			      <feComposite in="SourceGraphic" in2="goo" operator="atop"/>
			    </filter>
			  </defs>
			 <g>
			  <circle r="100" cy="145" cx="150">
			    <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 145 150" to="360 145 150" dur="4s" repeatCount="indefinite"/>
			   </circle>
			  <circle r="100" cy="155" cx="150">
			    <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="360 155 150" to="0 155 150" dur="8s" repeatCount="indefinite"/>
			   </circle>
			  <circle r="100" cy="150" cx="145">
			    <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 150 145" to="360 150 145" dur="12s" repeatCount="indefinite"/>
			   </circle>
			  <circle r="100" cy="150" cx="155">
			    <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="360 150 155" to="0 150 155" dur="10s" repeatCount="indefinite"/>
			   </circle>
			 </g>
			</svg>
		</div>

	</div> -->

	<div class="cont">
		<div class="row">
			
			<div class="col-12 col-md-4 quick-ex-col quick-ex-col--curr-1">
				<div class="quick-ex-curr">
					<div class="quick-ex-curr__title">Buying...</div>
					<div class="quick-ex-form">
						<div class="quick-ex-form__number">
							<input class="js-price-input no-spinners" type="number" min="0" value="1" autofocus>
						</div>
						<div class="quick-ex-form__currency">
							<select>
								<option>BTC</option>
								<option>ETH</option>
								<option>XMR</option>
								<option>BTC</option>
								<option>ETH</option>
								<option>USD</option>
								<option>BTC</option>
								<option>ETH</option>
								<option>XMR</option>
							</select>
						</div>
					</div>
					<div class="quick-ex-rate-tip"><span>1</span> BTC  <span class="quick-ex-rate-tip__equal-sign">=</span>  <span>11455</span> USD</div>
				</div>
			</div>

			<div class="col-12  col-md-auto quick-ex-col quick-ex-col--switch">
				<div class="quick-ex-switch"><button class="bubbly-button js-quick-ex-switch-btn">Switch currencies</button></div>
			</div>
			
			<div class="col-12 col-md-4 quick-ex-col quick-ex-col-curr-2">
				<div class="quick-ex-curr">
					<div class="quick-ex-curr__title">for...</div>
					<div class="quick-ex-form">
						<div class="quick-ex-form__number">
							<input type="number" min="0" class="js-price-input no-spinners" value="0.10012" autofocus>
						</div>
						<div class="quick-ex-form__currency">
							<select>
								<option>USD</option>
								<option>BTC</option>
								<option>ETH</option>
								<option>XMR</option>
								<option>BTC</option>
								<option>ETH</option>
								<option>XMR</option>
								<option>BTC</option>
								<option>ETH</option>
								<option>XMR</option>
							</select>
						</div>
					</div>
					<div class="quick-ex-rate-tip"><span>1</span> USD  <span class="quick-ex-rate-tip__equal-sign">=</span>  <span>0.00000343</span> BTC</div>
				</div>
			</div>

			<div class="col quick-ex-col quick-ex-col--submit">
				<button class="btn btn-primary btn-lg quick-ex-submit">Quick exchange</button>
			</div>

		</div>	
	</div>
</section>