<div class="rates">

	<div class="rates-track js-rates-track">
		<div class="rates-item">
			<div class="rates-cur">BTC</div>
			<div class="rates-val"><span class="rates-val__symbol">$</span><span class="rates-val__number">11280</span></div>
		</div>
		<div class="rates-item">
			<div class="rates-cur">BTC</div>
			<div class="rates-val"><span class="rates-val__symbol">$</span><span class="rates-val__number">11280</span></div>
		</div>
		<div class="rates-item">
			<div class="rates-cur">BTC</div>
			<div class="rates-val"><span class="rates-val__symbol">$</span><span class="rates-val__number">11280</span></div>
		</div>
		<div class="rates-item">
			<div class="rates-cur">BTC</div>
			<div class="rates-val"><span class="rates-val__symbol">$</span><span class="rates-val__number">11280</span></div>
		</div>
		<div class="rates-item">
			<div class="rates-cur">BTC</div>
			<div class="rates-val"><span class="rates-val__symbol">$</span><span class="rates-val__number">11280</span></div>
		</div>
		<div class="rates-item">
			<div class="rates-cur">BTC</div>
			<div class="rates-val"><span class="rates-val__symbol">$</span><span class="rates-val__number">11280</span></div>
		</div>
		<div class="rates-item">
			<div class="rates-cur">BTC</div>
			<div class="rates-val"><span class="rates-val__symbol">$</span><span class="rates-val__number">11280</span></div>
		</div>
		<div class="rates-item">
			<div class="rates-cur">BTC</div>
			<div class="rates-val"><span class="rates-val__symbol">$</span><span class="rates-val__number">11280</span></div>
		</div>
		<div class="rates-item">
			<div class="rates-cur">BTC</div>
			<div class="rates-val"><span class="rates-val__symbol">$</span><span class="rates-val__number">11280</span></div>
		</div>
		<div class="rates-item">
			<div class="rates-cur">BTC</div>
			<div class="rates-val"><span class="rates-val__symbol">$</span><span class="rates-val__number">11280</span></div>
		</div>
		<div class="rates-item">
			<div class="rates-cur">BTC</div>
			<div class="rates-val"><span class="rates-val__symbol">$</span><span class="rates-val__number">11280</span></div>
		</div>
		<div class="rates-item">
			<div class="rates-cur">BTC</div>
			<div class="rates-val"><span class="rates-val__symbol">$</span><span class="rates-val__number">11280</span></div>
		</div>
		<div class="rates-item">
			<div class="rates-cur">BTC</div>
			<div class="rates-val"><span class="rates-val__symbol">$</span><span class="rates-val__number">11280</span></div>
		</div>
		<div class="rates-item">
			<div class="rates-cur">BTC</div>
			<div class="rates-val"><span class="rates-val__symbol">$</span><span class="rates-val__number">11280</span></div>
		</div>
		<div class="rates-item">
			<div class="rates-cur">BTC</div>
			<div class="rates-val"><span class="rates-val__symbol">$</span><span class="rates-val__number">11280</span></div>
		</div>
	</div>

	<div class="rates-btns">
		<button class="rates-btn rates-prev js-rates-prev">Влево</button>
		<button class="rates-btn rates-next js-rates-next">Вправо</button>
	</div>

</div>