.divider {
	width: 100%;
	height: 1px;
	background: rgba($black, .15);

	&--m {
		margin-top: 45px;
		margin-bottom: 45px;
	}

	&--mb {
		margin-bottom: 45px;
	}

	&--bold {
		height: 2px;
	}
}