.title-1 {
	font-family: $font-proxima;
	font-weight: bold;
	font-size: 2.5em;
	line-height: 1.2;	
}

.title-2 {
	font-family: $font-proxima;
	font-size: 1.3em;
	font-weight: bold;
	text-transform: uppercase;
}

.section-title {
	font-family: $font-proxima;
	font-weight: bold;
	font-size: 2.5em;
	line-height: 1.2;

	margin-bottom: 30px;
}


.page-title {
	font-family: $font-proxima;
	font-size: 1.6em;
	font-weight: 900;
}

.page-subtitle {
	font-size: 1rem;
	color: rgba($black, .7);
}

@media screen and (min-width: 576px) { 

	.page-title {
		font-size: 3em;
	}

}